* {box-sizing: border-box;
    margin: 0; padding: 0;}

html {
    scroll-behavior: smooth;
}
    

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Regular.eot');
    src: url('Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        url('Roboto-Regular.woff2') format('woff2'),
        url('Roboto-Regular.woff') format('woff'),
        url('Roboto-Regular.ttf') format('truetype'),
        url('Roboto-Regular.svg#Roboto-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    background-color: #FCF9F3;
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto';
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
    color: #7B93CB;
}

header {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.top-img {
    width: 100%;
}

h1 {
    margin-top: -17px;
    margin-bottom: 48px;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    height: max-content;
}

nav {
    background-color: #CED9E6;
    width: 930px;
    height: 90px;
    border-radius: 70px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 179px;
    align-items: center;
    
}

.menu-container {
    width: 705px;
    margin: auto;
    padding-top: 33px;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.a-menu {
    text-decoration: none;
    padding: 12px 25px 12px 25px;
    border-radius: 70px;
    background-color: #CED9E6;
    color: #7B93CB;
}

.a-menu::after {
    text-decoration: none;
    color: #7B93CB;
}

.a-menu:hover {
    background-color: #E5E9EC;
    color: #7B93CB;
    transition: 0.5s;
}

.about {
    height: 827px;
    width: 100%;
    background-image: url(./src/img/back-2.png);
}

.about-1 {
    height: 207px;
    width: 261px;
    padding-top: 226px;
    margin-left: 179px;
    text-align: center;
}

.about-2 {
    height: 115px;
    width: 337px;
    padding-top: 200px;
    margin-left: 908px;
    text-align: center;
}

.dosug {
    display: flex;
    flex-direction: column;
}

h2 {
    padding-top: 36px;
    margin-left: auto;
    margin-right: auto;
    font-size: 40px;
    font-weight: normal;
}

.rounds {
    padding-top: 88px;
    display: flex;
    justify-content: space-between;
    width: 1342px;
    margin-left: auto;
    margin-right: auto;
}

.round {
    display: flex;
    flex-direction: column;
}

.r-img {
    z-index: 100;
}

.r-img:hover {
    transform: scale(1.05);
    transition: 0.5s;
    cursor: pointer;
}

.r-span {
    padding-top: 52px;
    margin-bottom: 103px;
    text-align: center;
}

.feedback {
    width: 100%;
    height: 740px;
    background-image: url(./src/img/back-4.png);
}

.feedback-container {
    display: flex;
    justify-content: space-between;
    padding-top: 199px;
    margin: 0 144px 175px 105px;
}

.mini {
    width: max-content;
    height: 156px;
    margin-top: 64px;
    text-transform: uppercase;
    font-size: 10px;
    text-align: center;
}

.large {
    font-size: 18px;
    width: max-content;
    height: 299px;
    text-transform: uppercase;
    text-align: center;
    margin-left: -20px;
}

footer {
    height: 371px;
    width: 100%;
    background-image: url(./src/img/back-5.png);
    margin-top: -67px;
}

.bottom {
    width: 1280px;
    height: max-content;
    padding-top: 175px;
    padding-bottom: 96px;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
}

.left-text {
    display: flex;
    flex-direction: column;
}

.mini-text1 {
    padding-top: 6px;
    font-size: 15px;
    color: #7B93CB;
    text-decoration: none;
}

.mini-text1:hover {
    color: #CED9E6;
    text-decoration: none;
    transition: 0.5s;
    cursor: pointer;
}

.mini-text1::after {
    color: #7B93CB;
    text-decoration: none;
}

.right-text {
    text-align: right;
    display: flex;
    flex-direction: column;
}

.mini-text2 {
    padding-top: 6px;
    font-size: 15px;
    font-style: normal;
    text-transform: uppercase;
}
